/*  ==============basic settings ============== */

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Body */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #ffffff;
}

/* ============== Header ============== */

/* ======= logo ========= */

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-black-letters {
    color: #2e2f42;
}

.header-logo:hover,
.header-logo-black-letters:hover,
.header-logo:focus,
.header-logo-black-letters:focus {
    color: #404bbf;
}


/* ======= Header nav ======= */


.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

/* ====== header address ======= */

.address {
    font-style: normal;
}

.header-address-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

.header-address-list-item:hover,
.header-address-list-item:focus {
    color: #404bbf;
}

/* ==============Main content============== */

/* ========== Hero ========= */

.hero-container {
    background: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

.hero-button-order {
    background: #4d5ae5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.hero-button-order:hover,
.hero-button-order:focus {
    background: #404bbf;
}

/* ======== Our Benefits ======== */



.our-benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-benefits-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*  ========== Our Team ========== */

.our-team-section {
    background: #f4f4fd;
}
.our-team-column {background-color: #ffffff;}

.our-team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-team-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

/* ========== Our Portfolio ==========*/


.our-portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}


.our-portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }

/* ==================== Footer ======================== */

.footer-container {
    background: #2e2f42;
}

/* ====== footer address ======= */
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-white-letters {
    color: #f4f4fd;
}

.footer-logo:hover,
.footer-logo-white-letters:hover,
.footer-logo:focus,
.footer-logo-white-letters:focus {
    color: #404bbf;
}

/*  ======= Footer text ======== */

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd
}